@import "mixins";
@import "extends";
@import "maps";

.main-conocenos {
    @include conocenos;
    div {
        padding-top: 12px;
        padding-bottom: 12px;
        article {
            h1 {
                font-size: 1.5rem;
                color: $h1color;
                text-shadow: $textshadow;
                margin-bottom: 30px;
            }
            img {
                @include conocenosimg
            }
            p {
                font-size: 1rem;
                color: $tcwhite;
                padding: 12px;
                margin-bottom: 0;
            }
        }
        .about-dates {
            div {
                background-color: $bgtext;
                h2 {
                    font-size: 1rem;
                    color: $green;
                }
                p {
                    font-size: .8rem;
                    color: $tcwhite;
                    font-weight: 500;
                }
            }
        }
    }
}  

@media screen and (min-width: 576px) and (max-width:991px) {
    .main-conocenos {
        height: calc(100vh - 118px);
        min-height: 1030px;
        line-height: initial;
        div {
            article {
                h1 {
                    font-size: 1.5rem;
                }
                p {
                    font-size: 1rem;
                    border-radius: 10px;
                }
            }
            .about-dates {
                div {
                    border-radius: 10px;
                    width: fit-content;
                    min-width: 250px;
                    height: 76px;
                    padding: 2px;
                    h2 {
                        font-size: 1rem;
                    }
                    p {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:992px) {
    .main-conocenos {
        height: calc(100vh - 118px);
        min-height: 950px;
        line-height: initial;
        div {
            article {
                h1 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.2rem;
                    border-radius: 10px;
                    width: 90%;
                }
            }
            .about-dates {
                div {
                    border-radius: 10px;
                    width: fit-content;
                    min-width: 210px;
                    height: 94px;
                    padding: 8px;
                    h2 {
                        font-size: 1rem;
                    }
                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}