.main-conocenos {
    background-color: $bgblack;
    @include main;
    min-height: 1496px;
    div {
        article {
            h1 {
                @include h1;
            }
            img {
                padding: 16px;
                height: 300px;
                width: auto;
                filter: drop-shadow(2px 4px 4px #000000);
            }
            p {
                color: $tcwhite;
                padding: 12px;
                margin-bottom: 0;
                font-weight: bold;
            }
        }
        .about-dates {
            div {
                background-color: $bgtext;
                h2 {
                    font-size: 1.5rem;
                    color: $green;
                }
                p {
                    color: $tcwhite;
                    font-weight: 500;
                }
            }
        }
    }
}  

@media screen and (min-width: 576px) and (max-width:991px) {
    .main-conocenos {
        min-height: 1030px;
        line-height: initial;
        div {
            .about-dates {
                .phone-dates {
                    margin: 8px 10px 0 10px;
                }
                div {
                    border-radius: 10px;
                    width: fit-content;
                    min-width: 268px;
                    height: 100px;
                    padding: 10px;
                    h2 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:992px) {
    .main-conocenos {
        min-height: 1028px;
        line-height: initial;
        div {
            article {
                h1 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.2rem;
                    width: 90%;
                }
            }
            .about-dates {
                .phone-dates {
                    margin: 8px 10px 0 10px;
                }
                div {
                    @include border;
                    width: fit-content;
                    min-width: 330px;
                    height: 126px;
                    h2 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}