.nav__list {
    list-style: none;
    li {
        .logo-instagram::before {
            content: map-get($redes, instagram);
        }
        .logo-facebook::before {
            content: map-get($redes, facebook);
        }
        .logo-twitter::before {
            content: map-get($redes, twitter);
        }
    }
}

footer {
    div{
        p {
        margin: 0;
        color: $white;
        font-size: .5rem;
        }
    }
}