@import "mixins";
@import "extends";
@import "maps";

.main-index {
    @include index;
    div {
        p {
            font-size: 1rem;
            width: 100%;
            text-shadow: $textshadow;
            color: $h1color;
        }
        img {
            @include indeximg;
        }
        h1 {
            font-size: 4rem;
            color: $h1color;
        }
    }
}

@keyframes panda {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 480px) and (max-width:991px) {
    .main-index {
        div {
            p {
                font-size: 1.2rem;
                border-radius: 3px;
                width: fit-content;
            }
            img {
                width: calc(100% - 60%);
            }
            h1 {
                font-size: 4.5rem;
            }
        }
    } 
}

@media screen and (min-width:992px) {
    .main-index {
        div {
            p {
                font-size: 1.5rem;
                border-radius: 3px;
                width: fit-content;
            }
            img {
                width: calc(100% - 60%);
            }
            h1 {
                font-size: 5rem;
            }
        }
    }
}