$bg: (
    starters: url(../imagen/entradas.jpg),
    burgers: url(../imagen/hamburguesa.jpg),
    pizzas: url(../imagen/pizza.jpg),
    desserts: url(../imagen/postres.png),
    drinks: url(../imagen/tragos.jpg),
    beer: url(../imagen/cerveza.jpg),
);

$redes: (
    instagram: url(../imagen/instagram5.png),
    facebook: url(../imagen/facebook-.png),
    twitter: url(../imagen/gorjeo.png),
)