// mobile

.main-menu {
    @include main ( $black, calc(100vh - 154px), 1732px);
    .gradient {
        display: none;
    }
    div {
        @extend .pad;
        h1 {
            font: normal bold 1.5rem 'Ubuntu', sans-serif;
            color: $white;
            span {
                display: contents;
                color: $white;
            }
        }
        section {
            padding: 0 12px 12px 12px;
            width: 100vw;
            .starters-bg, .burgers-bg, .pizzas-bg, .desserts-bg, .drinks-bg, .beer-bg {
                background-position: center center;
                h2 {
                    font: normal bold 1.5rem 'Ubuntu', sans-serif;
                    text-shadow: none;
                    padding-top: 8px;
                }
            }
            .starters-bg, .pizzas-bg, .desserts-bg, .beer-bg {
                h2 {
                    color: $white2;
                }
            }
            .burgers-bg, .drinks-bg {
                h2 {
                    color: $black2;
                }
            }
            .starters-bg {
                background-image: map-get($bg, starters);
            }
            .burgers-bg {
                background-image: map-get($bg, burgers);
            }
            .pizzas-bg {
                background-image: map-get($bg, pizzas);
            }
            .desserts-bg {
                background-image: map-get($bg, desserts);
            }
            .drinks-bg {
                background-image: map-get($bg, drinks);                
            }
            .beer-bg {
                background-image: map-get($bg, beer);
            }
            div {
                background-size: cover;
                height: 270px;
                &:hover {
                    h2 {
                        display: none;
                    }
                    div {
                        display: flex;
                        opacity: .9;
                        ul {
                            @include flex (flex, column, center, center);
                            @include not-mp;
                            font: normal normal .8rem/26px 'Ubuntu', sans-serif;
                            list-style: none;
                            width: 100%; 
                        }
                    }
                }
                div {
                    @include size (100%, 100%);
                    display: contents;
                    background-color: #000000;
                    opacity: 0;
                    transition: opacity .8s;
                    ul {
                        display: none;
                    }
                }
            }
        }
    }
}

// tablet

@media screen and (min-width: 576px) and (max-width:991px) {
    .main-menu {
        @include main ( transparent, calc(100vh - 154px), 728px);
        .gradient {
            @include position (absolute, auto, auto, auto, auto, -1);
            @include not-mp;
            display: block;
            height: calc(100vh - 154px);
            min-height: 728px;
            .gradient-1 {
                @include position (absolute, auto, auto, auto, auto, -1); 
            }
            .gradient-2 {
                @include position (absolute, auto, auto, 0, auto, -1);
            }
            .gradient-3 {
                @include position (absolute, auto, 0, auto, auto, -1);
            }
            .gradient-4 {
                @include position (absolute, auto, 0, 0, auto, -1);
            }
            .gradient-1, .gradient-4 {
                @include size (50%, 50%);
                @include not-mp;
                background: $black;
            }
            .gradient-2, .gradient-3 {
                @include size (50%, 50%);
                @include not-mp;
                background: $white;
            }
        }
        div {
            h1 {
                letter-spacing: 10px;
                text-shadow: none;
                color: $black;
                font-weight: bold;
                span {
                    display: contents;
                    font-weight: bold;
                    color: $white;
                }
            }
            section {
                width: 100%;
                padding: 0;
                border-radius: 10px;
                box-shadow: $boxshadow;
                max-width: 650px;
                .starters-bg, .burgers-bg, .pizzas-bg, .desserts-bg, .drinks-bg, .beer-bg {
                    background-size: contain;
                }
                div {
                    height: 220px;
                }
                .starters-menu {
                    border-top-left-radius: 5px;
                    div {
                        border-top-left-radius: 5px;
                    }
                }
                .burgers-menu {
                    border-top-right-radius: 5px;
                    div {
                        border-top-right-radius: 5px;
                    }
                }
                .drinks-menu {
                    border-bottom-left-radius: 5px;
                    div {
                        border-bottom-left-radius: 5px;
                    }
                }
                .beer-menu {
                    border-bottom-right-radius: 5px;
                    div {
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
    }
}

// desktop

@media screen and (min-width:992px) {
    .main-menu {
        @include main ( transparent, calc(100vh - 154px), 590px);
        .gradient {
            @include position (absolute, auto, auto, auto, auto, -1); 
            @include not-mp;
            display: block;
            height: calc(100vh - 154px);
            min-height: 590px;
            .gradient-1 {
                @include position (absolute, auto, auto, auto, auto, -1);
                background: linear-gradient(-45deg, $white 43%, $black 43%);
            }
            .gradient-2 {
                @include position (absolute, auto, auto, 0, auto, -1);
                background: linear-gradient(-135deg, $black 43%, $white 43%);
            }
            .gradient-3 {
                @include position (absolute, auto, 0, auto, auto, -1);
                background: linear-gradient(45deg, $black 43%, $white 43%);
            }
            .gradient-4 {
                @include position (absolute, auto, 0, 0, auto, -1);
                background: linear-gradient(135deg, $white 43%, $black 43%);
            }
            .gradient-1, .gradient-2, .gradient-3, .gradient-4 {
                @include size (50%, 50%);
                @include not-mp;
            }
        }
        div {
            h1 {
                font-size: 2rem;
                letter-spacing: 8px;
                text-shadow: none;
                color: $white;
                span {
                    display: contents;
                    font-weight: bolder;
                    color: $black;
                }
            }
            section {
                width: 100%;
                padding: 0;
                border-radius: 10px;
                box-shadow: $boxshadow;
                max-width: 1140px;
                .starters-bg, .burgers-bg , .pizzas-bg , .desserts-bg , .drinks-bg , .beer-bg  {
                    background-size: contain;
                }
                div {
                    height: 256px;
                    &:hover {
                        div {
                            ul {
                                font-size: 1rem;
                            }
                        }
                    }
                }
                .starters-menu {
                    border-top-left-radius: 5px;
                    div {
                        border-top-left-radius: 5px;
                    }
                }
                .pizzas-menu {
                    border-top-right-radius: 5px;
                    div {
                        border-top-right-radius: 5px;
                    }
                }
                .desserts-menu {
                    border-bottom-left-radius: 5px;
                    div {
                        border-bottom-left-radius: 5px;
                    }
                }
                .beer-menu {
                    border-bottom-right-radius: 5px;
                    div {
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
    }
}