.main-menu {
    background-color: $bgblack;
    height: calc(100vh - 154px);
    min-height: 1732px;
    .gradient {
        display: none;
    }
    div {
        @extend .pad;
        h1 {
            @include h1;
            span {
                display: contents;
                color: $h1color;
            }
        }
        section {
            padding: 0 12px 12px 12px;
            width: 100vw;
            .starters-bg, .burgers-bg, .pizzas-bg, .desserts-bg, .drinks-bg, .beer-bg {
                background-position: center center;
                h2 {
                    font-size: 1.5rem;
                    text-shadow: none;
                    font-weight: bold;
                    padding-top: 8px;
                }
            }
            .starters-bg {
                background-image: map-get($bg, starters);
                h2 {
                    color: $tcwhite;
                }
            }
            .burgers-bg {
                background-image: map-get($bg, burgers);
                h2 {
                    color: $tcblack;
                }
            }
            .pizzas-bg {
                background-image: map-get($bg, pizzas);
                h2 {
                    color: $tcwhite;
                }
            }
            .desserts-bg {
                background-image: map-get($bg, desserts);
                h2 {
                    color: $tcwhite;
                }
            }
            .drinks-bg {
                background-image: map-get($bg, drinks);                
                h2 {
                    color: $tcblack;
                }
            }
            .beer-bg {
                background-image: map-get($bg, beer);
                h2 {
                    color: $tcwhite;
                }
            }
            div {
                background-size: cover;
                height: 270px;
                &:hover h2 {
                    display: none;
                }
                &:hover div {
                    display: flex;
                    opacity: .9;
                }
                &:hover div ul {
                    @include flex;
                    flex-direction: column;
                    justify-content: center;
                    list-style: none;
                    font-size: .8rem;
                    width: 100%;
                    line-height: 26px;
                    padding: 0;
                    margin: 0;
                }
                div {
                    display: contents;
                    background-color: #000000;
                    opacity: 0;
                    transition: opacity .8s;
                    height: 100%;
                    width: 100%;
                    ul {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width:991px) {
    .main-menu {
        min-height: 728px;
        background-color: transparent;
        .gradient {
            @include grad;
            min-height: 728px;
            .gradient-1 {
                background: $black;
                @include gradchild;
            }
            .gradient-2 {
                background: $white;
                bottom: 0;
                @include gradchild;
            }
            .gradient-3 {
                background: $white;
                @include gradchild;
                right: 0;
            }
            .gradient-4 {
                background: $black;
                bottom: 0;
                right: 0;
                @include gradchild;
            }
        }
        div {
            h1 {
                letter-spacing: 10px;
                text-shadow: none;
                color: $black;
                font-weight: bold;
                span {
                    display: contents;
                    font-weight: bold;
                    color: $white;
                }
            }
            section {
                width: 100%;
                padding: 0;
                border: 4px solid #6c6c6c;
                border-radius: 10px;
                box-shadow: $boxshadow;
                max-width: 650px;
                .starters-bg, .burgers-bg, .pizzas-bg, .desserts-bg, .drinks-bg, .beer-bg {
                    background-size: contain;
                }
                div {
                    height: 220px;
                }
                .starters-menu {
                    border-top-left-radius: 5px;
                    div {
                        border-top-left-radius: 5px;
                    }
                }
                .burgers-menu {
                    border-top-right-radius: 5px;
                    div {
                        border-top-right-radius: 5px;
                    }
                }
                .drinks-menu {
                    border-bottom-left-radius: 5px;
                    div {
                        border-bottom-left-radius: 5px;
                    }
                }
                .beer-menu {
                    border-bottom-right-radius: 5px;
                    div {
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:992px) {
    .main-menu {
        min-height: 590px;
        background-color: transparent;
        .gradient {
            @include grad;
            min-height: 590px;
            .gradient-1 {
                background: linear-gradient(-45deg, $white 43%, $black 43%);
                @include gradchild;
            }
            .gradient-2 {
                background: linear-gradient(-135deg, $black 43%, $white 43%);
                @include gradchild;
                bottom: 0;
            }
            .gradient-3 {
                background: linear-gradient(45deg, $black 43%, $white 43%);
                @include gradchild;
                right: 0;
            }
            .gradient-4 {
                background: linear-gradient(135deg, $white 43%, $black 43%);
                @include gradchild;
                bottom: 0;
                right: 0;
            }
        }
        div {
            h1 {
                font-size: 2rem;
                letter-spacing: 8px;
                text-shadow: none;
                color: $white;
                span {
                    display: contents;
                    font-weight: bolder;
                    color: $black;
                }
            }
            section {
                width: 100%;
                padding: 0;
                border: 4px solid #6c6c6c;
                border-radius: 10px;
                box-shadow: $boxshadow;
                max-width: 1140px;
                .starters-bg, .burgers-bg , .pizzas-bg , .desserts-bg , .drinks-bg , .beer-bg  {
                    background-size: contain;
                }
                div {
                    height: 256px;
                    &:hover div ul {
                        font-size: 1rem;
                    }
                }
                .starters-menu {
                    border-top-left-radius: 5px;
                    div {
                        border-top-left-radius: 5px;
                    }
                }
                .pizzas-menu {
                    border-top-right-radius: 5px;
                    div {
                        border-top-right-radius: 5px;
                    }
                }
                .desserts-menu {
                    border-bottom-left-radius: 5px;
                    div {
                        border-bottom-left-radius: 5px;
                    }
                }
                .beer-menu {
                    border-bottom-right-radius: 5px;
                    div {
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
    }
}