@import "mixins";
@import "extends";
@import "maps";

.main-rye {
    background-color: $bgblack;
    height: calc(100vh - 118px);
    min-height: 1225px;
    .gradient {
        display: none;
    }
    div {
        section {
            border: 6px double $green;
            background-color: $black;
            margin: 10px 0;
            width: 410px;
            form {
                margin-bottom: 16px;
                div {
                    div {
                        p {
                            color: $tcwhite;
                        }
                    }
                    div {
                        label {
                            @include label;
                        }
                        input {
                            @include input;
                        }
                        button {
                            @include button;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width:991px) {
    .main-rye {
        height: calc(100vh - 118px);
        min-height: 680px;
        background-color: transparent;
        .gradient {
            @include grad;
            min-height: 680px;
            .gradient-1 {
                background-color: #101010;
                @include gradchild;
            }
            .gradient-2 {
                background-color: #c7c7c7;
                @include gradchild;
                bottom: 0;
            }
            .gradient-3 {
                background-color: #c7c7c7;
                @include gradchild;
                right: 0;
            }
            .gradient-4 {
                background-color: #101010;
                @include gradchild;
                bottom: 0;
                right: 0;
            }
        }
        div {
            section {
                @include sectionrye;
                max-width: 670px;
            }
        }
    }
}

@media screen and (min-width:992px) {
    .main-rye {
        height: calc(100vh - 118px);
        min-height: 728px;
        background-color: transparent;
        .gradient {
            @include grad;
            min-height: 728px;
            .gradient-1 {
                background-color: $black;
                @include gradchild;
            }
            .gradient-2 {
                background-color: $white;
                @include gradchild;
                bottom: 0;
            }
            .gradient-3 {
                background-color: $white;
                @include gradchild;
                right: 0;
            }
            .gradient-4 {
                background-color: $black;
                @include gradchild;
                bottom: 0;
                right: 0;
            }
        }
        div {
            section {
                @include sectionrye;
                max-width: 1300px;
                form {
                    div {
                        div {
                            p {
                                font-size: 1.5rem;
                            }
                            label {
                                font-size: 1rem;
                            }
                            input {
                                font-size: 1rem;
                                max-width: 310px;
                            }
                        }
                    }
                }
            }
        }
    }
}