@import "mixins";
@import "extends";
@import "maps";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: $black;
}