.main-socios {
    background-color: $bgblack;
    @include main;
    min-height: 1050px;
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        article {
            h1 {
                @include h1;
            }
            p {
                color: $tcwhite;
                background-color: $bgtext;
                @include border;
                max-width: 430px;
                font-weight: bold;
            }
            ul {
                background-color: $bgtext;
                border-radius: 10px;
                padding: 12px 26px;
                color: $tcwhite;
                font-weight: bold;
                max-width: 430px;
                list-style: none;
                li::before {
                    content: url(../imagen/icon.png);
                }
            }
        }
        form {
            border: 6px double $green;
            background-color: $blackform;
            max-width: 340px;
            box-shadow: $boxshadow;
            div {
                h2 {
                    font-size: 1.2rem;
                    color: $tcwhite;
                }
            }
            div {
                label {
                    color: $green;
                }
                input {
                    @include input;
                }
                button {
                    @include button;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width:991px) {
    .main-socios {
        min-height: 660px;
        div {
            article {
                h1 {
                    font-size: 1.5rem;
                }
                p {
                    max-width: 760px;
                }
                ul {
                    max-width: 760px;
                    list-style: none;
                    li::before {
                        content: url(../imagen/icon.png);
                    }
                }
            }
            form {
                width: auto;
                max-width: 760px;
                div {
                    input {
                        max-width: 310px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:992px) {
    .main-socios {
        min-height: 546px;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            article {
                max-width: 500px;
                h1 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.2rem;
                    max-width: 500px;
                }
                ul {
                    font-size: 1.2rem;
                    max-width: 500px;
                    list-style: none;
                    li::before {
                        content: url(../imagen/icon.png);
                    }
                }
            }
            form {
                div {
                    h2 {
                        font-size: 1.4rem;
                    }
                }
                div {
                    label {
                        font-size: 1.2rem;
                    }
                    input {
                        font-size: 1.2rem;
                        max-width: 250px;
                    }
                }
            }
        }
    }
}