$green: #94d56cd9;
$border: #3c3b3b;
$black: #101010;
$gradient: linear-gradient(90deg, #101010 50%, #c7c7c7 50%);
$boxshadow: #000000 0 10px 20px, #000000 0 6px 6px;
$textshadow: 3px 2px #000000;
$white2: #ffffffd4;
$black2: #040404c7;
$white: #c7c7c7;
$headercolor: #e8e8e8;
$grey: #1b1b1b;
$orange: #ae7e5c;