$green: #94d56cd9;
$bgblack: #1e1e1e;
$bgtext: #3c3b3b;
$black: #101010;
$blackform: #0a0a0a;
$gradientform: linear-gradient(to top, #34313161, #ffffffd4);
$boxshadow: #000000 0 10px 20px, #000000 0 6px 6px;
$textshadow: 3px 2px #000000;
$tcwhite: #ffffffd4;
$tcblack: #040404c7;
$h1color: #ffffff;
$white: #c7c7c7;
$headercolor: #e8e8e8;